/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --heading-color: #DB00FF;
  --decoration-color-opacity-40: rgba(255, 0, 112, 0.4);
  --decoration-color: var(--accent-color);
  --content-section-title-color: var(--accent-color);
  --paragraph-title-color: var(--bg-color);
  --bg-image: url(../images/cover-image-dark.png);
  --rec-display: block;
}
