/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color);
  font-family: var(--main-font), monospace;
  font-weight: normal;
  font-size: var(--font-size);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.record {
  position: absolute;
  display: var(--rec-display);
  color: var(--accent-color);
  inset-inline-end: calc(var(--section-padding) + 28px);
  inset-block-start: var(--section-padding);
}

.record::after {
  content: "";
  position: absolute;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none"><g filter="url(%23filter0_d_601_191)"><circle cx="10.5" cy="10.5" r="4.5" fill="%23FF0070"/></g><defs><filter id="filter0_d_601_191" x="0" y="0" width="21" height="21" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feMorphology radius="2" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_601_191"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0.439216 0 0 0 1 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_601_191"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_601_191" result="shape"/></filter></defs></svg>');
  background-size: cover;
  inset-block-start: 2px;
  inset-inline-start: 36px;
  block-size: 21px;
  inline-size: 21px;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: end;
  align-items: center;
  padding: var(--section-padding);
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--decoration-color);
  border-block-end: 1px solid var(--decoration-color);
  inset-inline-start: var(--section-padding);
  inset-block-end: var(--section-padding);
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--decoration-color);
  border-block-start: 1px solid var(--decoration-color);
  inset-inline-end: var(--section-padding);
  inset-block-start: var(--section-padding);
  block-size: 25px;
  inline-size: 25px;
}

.header__theme-menu-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  inset-block-start: 4px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0 13px;
  color: var(--decoration-color);
  line-height: 100%;
  background-color: transparent;
  cursor: pointer;
  block-size: 26px;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decoration-color);
  outline: 0;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--decoration-color-opacity-40);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decoration-color);
  pointer-events: none;
}

.header__title {
  justify-self: flex-start;
  color: var(--heading-color);
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.title-decor {
  color: var(--paragraph-title-color);
  font-size: var(--font-size);
  line-height: 130%;
  background-color: var(--accent-color);
}

.header__subtitle {
  position: relative;
  font-weight: bold;
  max-inline-size: 364px;
  inset-block-end: 6px;
}

.content {
  display: grid;
  gap: var(--space-xl);
  margin-block-start: var(--space-l);
}

.content-section {
  display: grid;
  gap: var(--space-m);
  padding: 0 var(--section-padding);
}

.content-section__title {
  color: var(--content-section-title-color);
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 130%;
}

.subsection {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.content__paragraph-title {
  font-weight: bold;
  font-size: var(--font-size);
}

.content__paragraph {
  line-height: 130%;
}

.content-link {
  display: inline-block;
  /* border-block-end: 1px solid transparent; */
  line-height: 85%;
  text-decoration: none;
  text-shadow: 1px 1px 0px var(--accent-color);
}

.content-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.content-link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}

.simple-tips {
  display: grid;
  gap: var(--space-m);
}

.content__paragraph-subtitle {
  font-weight: normal;
}

.in-pictures {
  display: grid;
  gap: var(--section-padding);
}

.content__picture {
  object-fit: cover;
  inline-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--space-l);
  block-size: 100vh;
  min-block-size: 647px;
}

.footer__heading {
  color: var(--heading-color);
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (min-width: 768px) {
  /* шапка */

  .header__theme-menu-list {
    inset-block-start: 55px;
  }

  .header__title {
    position: relative;
    inset-inline-end: 20px;
  }

  .header__subtitle {
    inset-block-end: 57px;
  }

  /* первая секция */

  .why {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);
  }

  .why .content-section__title {
    grid-row: 1 / 3;
  }

  /* вторая секция */

  .what {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .what .subsection {
    grid-column: 1 / 4;
  }

  /* третья секция */

  .how {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  /* четвёртая секция */

  .in-picture {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .content__pictures-title {
    grid-column: span 3;
  }

  .sunset-image {
    grid-column: span 2;
  }

  .ice-cream-image {
    grid-row: span 2;
    block-size: 100%;
  }

  .tape-image {
    grid-row: span 2;
    block-size: 100%;
  }

  .street-image {
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  /* шапка */

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    position: static;
    flex-direction: row;
    align-self: auto;
    inset-block-start: 0;
  }

  .header__subtitle {
    inset-block-end: 29px;
    min-inline-size: 491px;
  }

  /* первая секция */

  .why {
    grid-template-columns: 1fr 2.06fr;
  }

  /* вторая секция */

  .what .content-section__title {
    grid-column: 1 / 4;
    max-inline-size: 315px;
  }

  .what .subsection {
    grid-column: inherit;
  }

  /* третья секция */

  .how {
    grid-template-columns: 1fr 2.06fr;
  }
}
